@{
    ViewData["Title"] = "253504";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_253504_DUBOVIK.UI</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_253504_DUBOVIK.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="container">

            <!-- Панель навигации -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <!-- меню сайта -->
                <partial name="_Navbar_Menu" />
            <!-- информация пользователя -->
                <partial name="_Navbar_UserInfo" />
            
            </nav> <!-- Панель навигации - конец -->

        </div><!-- container - конец -->
    </header>

    <main class="container">
        @RenderBody()
    </main>
   

    <footer class="border-top footer text-muted">
        <div class="container">           
            <div class="navbar navbar-dark navbar-expand-md bg-dark">
                &copy; 2024 - WEB_253504_DUBOVIK.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="http://www.facebook.com">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.vk.com">
                        <i class="fa-brands fa-vk"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.twitter.com">
                        <i class="fa-brands fa-twitter"></i> 
                    </a>
                </div>
            </div>

        </div>
    </footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
